.App {
  text-align: center;
  margin-top: 50px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

.results {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

p {
  font-style: italic;
}
